@font-face {
    font-family: "title-font1";
    src: url(../assets/fonts/Staatliches-Regular.ttf);
}
@font-face {
    font-family: "content-font1";
    src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
}

$title1: "title-font1", sans-serif;
$content1: "content-font1", Courier, monospace;
$color1: #573324;
$color11: #916a59;
$color12:#86533e;
$color2: #e4a788;
$color3: #f0e14a;
$color31: #ebe27f;
$color4: #97ce4c;
$color5: #e89ac7;

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: $color2;
}