.data-display {
    margin:5vh 5vw 5vh 5vw ;

    .cards-container {
        
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: top;

        li {
            display: flex;
            width: 22%;
            margin: 1% 1% 1% 1%;
            padding: 2%;
            border-radius: 71% 29% 67% 33% / 30% 56% 44% 70% ;
            background: $color11;

            .card {
                width: 70%;
                display: flex;
                
                flex-direction: column;

                .img-container {
                    

                    img {
                        border-radius: 71% 29% 67% 33% / 30% 56% 44% 70% ;
                    }
                }

                .content {
                    position: relative;
                    left: 20%;
                    margin-top: 10%;
                    padding: 10px;
                }
            }
        }
    }
}